* { margin:0; padding:0; } 
html, body { width:100%; height:100%; } 
canvas { display:block; } 
div { font-family: sans-serif; color: black; }
a { color: #666;}
a:visited { color: #000;}
#la {position:absolute; top:10px; left:10px; font-size: 96px; font-weight: bold; }
#fa {position:absolute; bottom:15px; left: 15px; padding: 22px; background-color:#fff; width:700px; height:30px;
font-size: 11px; line-height: 16px;}